<article class="speakerlist">
	<section class="layout">
		<div class="speakers">
			<% people.forEach(function (item) {%>
				<article class="artist group">
					<h4>
								<%= item.name %>
					</h4>
					<p>
						<img class="speaker" src="/images/persons/<%= item.shortname %>_tn.jpg" alt="Photo of <%= item.name %>">
					</p>
					<% if (page === 'Conceptos') { %>
						<p><%- item.summary %> 
							<a href="/conceptos/<%= item.shortname %>">
								[Más]
							</a>
						</p>
					<%} else {%>
						<p> <%- item.description %> </p>
					<% } %>
				</article>
			<% }); %>
		</div>
	</section>
</article>